<div id="vcomments"></div>
<script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: '2j4PCneuiuirFCfoeJcmNQ44-MdYXbMMI',
        appKey: 'v4TJceWDxk4DFAHx1OCd5jFS',
        placeholder:'留下遗言...',
        avatar: 'mp',
		serverURLs: 'https://2j4pcneu.api.lncldglobal.com',
        enableQQ: true    // 当在昵称栏填入QQ号时自动获取QQ昵称和QQ头像，不需要该功能请删除。
    });
</script>
