
<div id="waline">
    <script type="module">
        import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.js'
        init({
            el: '#waline',
            serverURL: 'https://www.yuan-blog.club',  /* enter your server url */
            comment: true,
			dark: "html[data-mode='dark']",
            texRenderer: (blockMode, tex) =>
            window.MathJax.startup.adaptor.outerHTML(
                window.MathJax.tex2svg(tex, {
                    display: blockMode,
                }),
            ),
        });
    </script>
</div>